@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

#login .ant-pro-form-login-title, #register .ant-pro-form-login-title {
  font-weight: bold;
  text-align: center;
  color: #45bda6;
  text-shadow: 0 0 1px #0e947a;
}

#register .ant-card {
  border: 0;
  background: #048f74;
}

#login .ant-pro-form-login-desc, #register .ant-pro-form-login-desc {
  display: block;
  margin-top: 8px;
  font-weight: bold;
  text-align: center;
  color: #45bda6;
  text-shadow: 0 0 1px #0e947a;
}

#login .anticon svg, #register .anticon svg {
  color: #0e947a;
}

#register .ant-form-item-label > label {
  color: white;
}

#login a, #register a, #login .ant-form-item-explain-error, #register .ant-form-item-explain-error {
  color: white;
}

#login .ant-btn-primary, #login .ant-btn, #register .ant-btn-primary, #register .ant-btn {
  background: #048f74;
  color: #f8f8f8;
  border: 0;
}

#login .ant-input-affix-wrapper, #register .ant-input-affix-wrapper {
  background: #5cbdaa;
  border: 0;

  > input.ant-input, > input.ant-input::placeholder {
    background: #5cbdaa;
    color: white;
  }

  .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
    background: #5cbdaa;
    color: white;
  }
}


.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

.ant-pro-sider.ant-layout-sider-light .ant-pro-menu-item {
  color: rgba(0, 0, 0, 0.85);
}

.ant-menu-title-content .ant-upload button {
  padding-left: 0;
}

.left-card {
  > .ant-pro-card-body {
    overflow: auto;
    height: calc(100vh - 240px);
  }
}

.ant-pro-basicLayout-content {
  height: calc(100vh - 150px);
}

.ant-pro-global-footer {
  margin: 5px;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.ant-collapse-header {
  .ant-collapse-extra {
    .ant-btn-text {
      padding: 0;
      height: auto;
    }
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
